@font-face {
  font-family: soc;
  src: url("./assets/fonts/soc-font.woff");
  font-weight: medium;
}
.center {
  display: flex;
  place-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 30px;
  color: rgb(66, 66, 243);
  font-family: soc;
}

.header-text {
  position: absolute;
  top: 0;
  font-family: soc;
  font-weight: bold;
  font-size: 50px;
}
