@font-face {
  font-family: soc;
  src: url("./assets/fonts/soc-font.woff");
  font-weight: medium;
}
.center {
  display: flex;
  place-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.message-center {
  display: flex;
  place-content: center;
  height: 300px;
  align-items: center;
  flex-direction: column;
  color: #888;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 30px;
  color: #4a79f1;
  font-family: soc;
}

.header-text {
  position: absolute;
  top: 0;
  color: #4a79f1;
  font-family: soc;
  font-weight: bold;
  font-size: 50px;
}

.feed-header-logo{
  color: #4a79f1 !important;
  font-family: soc !important;
  font-weight: bold !important;
}

.not-button{
  height: 30px !important;
  text-transform: none !important;
  width: 60px !important;
  margin: 5px !important;
}

.css-tbsolc {
  border: none !important;
}